.App{
  display: flex;
  flex-direction: row;
}

.shelves{
  background-color: coral;
  width: 50vw;
  height: 100vh;
}

.right-container{
  display: flex;
  flex-direction: column;
}

.cart{
  background-color: blueviolet;
  width: 50vw;
  height: 20vh;
}

.shopkeep{
  background-image: url(https://i.imgur.com/Uj7NyNE.png);
  background-size: contain; 
  background-repeat: no-repeat;
  width: 50vw;
  height: 80vh;
  display: flex;
}

.dialogue-box{
  background-color: purple;
  height: 40vh;
  width: 20vw;
  opacity: 50%;
  position: absolute;
  margin-top: 200px;
  right: 45px;
}

.dialogue{
  margin-left: 10px;
}
